h1 Users
a(href="/users/create") Create
table
  tr
    th Name
    th Phone Number
    th Action
  each user in users
    tr
      td=user.name
      td=user.phoneNumber
      td
        a(href="./users/"+user.id+"/update") Update
        span &nbsp
        a(href="./users/"+user.id+"/delete") Delete